
.tab-pane {
	min-height: 300px;
}
.nav-tabs {
	background-color: #F5F5F5;
}

.notesubmitter {
	padding-left: 35px;
	padding-top: 10px;
	font-weight: bold;
}

#searchfield {
	width: 100px;
	padding-left: 10px;
}

.notecontainer {
	/*
	padding: 8 8 0 8;
	*/
	margin: 5 5 5 5;
	
	font-size: 10pt;
	vertical-align: top;
	width: 100%;
}

.notesarea{
	width: 100%;
	/*max-height: calc(100% - 400px);*/
	overflow: auto;
	border: solid 1px #cccccc;
	padding: 15px 15px 15px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
}

#add-description {
	width: 90%;
}

#edit-newnotetext {
	width: 100%;
	text-align: left;
	display: block;
}


.notetext {
	font-size: 12pt;
	vertical-align: top;
	padding-right: 20px;
	padding-left: 10px;
	background-color:#5bc0de;
	color: #232323;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
	margin-top: 10px;
	width: 98%;
	margin: 2px 2px 2px 2px;
	padding: 10px 10px 10px 10px;
	white-space: normal;
}

.controls > input {
	width: 90%;
}
.controls > select {
	width: 90%;
}

.controls > textarea {
	width: 90%;
}