
.tab-pane {
	min-height: 300px;
}
.nav-tabs {
	background-color: #F5F5F5;
}

.notesubmitter {
	padding-left: 35px;
	padding-top: 10px;
	font-weight: bold;
}

#searchfield {
	width: 100px;
	padding-left: 10px;
}

.notecontainer {
	/*
	padding: 8 8 0 8;
	*/
	margin: 5 5 5 5;
	
	font-size: 10pt;
	vertical-align: top;
	width: 100%;
}

.notesarea{
	width: 100%;
	/*max-height: calc(100% - 400px);*/
	overflow: auto;
	border: solid 1px #cccccc;
	padding: 15px 15px 15px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
}

#edit-story-notes-container {
	height: calc(100% - 150px) !important;
	background-color: #dedede;
	padding: 2px !important;
}


#edit-story-new-attach-save-button{
	margin-bottom: 5px !important;
}


#edit-story-new-note-save-button{
	width:100% !important;
	margin-bottom: 5px !important;
}
#add-description {
	width: 90%;
}

#edit-newnotetext {
	width: 100%;
	text-align: left;
	display: block;
}


#edit-story-new-note-save-button {
	display:inline-block;
}

#edit-description, #edit-reproduce {
	width: 100%;
	height: 200px;
}

#edit-newnotetext {
	display: inline-block;
}

.editform {
	overflow: auto;
	height:100%;
	width: 575px;
	/*background-color: #dfdfdf;*/
	padding: 15px 15px 15px 15px;
	border-left: solid 2px #000000;
	position: absolute;
}	

#add-story-form  {
}


#edit-story-form {
}

.tab-content {
	padding-top: 10px;
}

#edit-story-title {
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#add-description {
	width: 100%;
	height: 200px;
}

.tagscontainer {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	width: 100%;
	/*max-height: calc(100% - 400px);*/
	overflow: auto;
	border: solid 1px #cccccc;
	padding: 15px 15px 15px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: #dedede;
}

.tagscontainer>.label {
	margin: 5px;
}


.editing-content {
	height: calc(100% - 135px) !important;
}

.tab-content {
	height: calc(100% - 45px) !important;
}

#tabs-3 {
	height: calc(100% - 20px) !important;
}

#tabs-4 {
	height: calc(100% - 50px) !important;
}

#tabs-5 {
	height: calc(100% - 50px) !important;
}

.notetext {
	font-size: 12pt;
	vertical-align: top;
	padding-right: 20px;
	padding-left: 10px;
	background-color:#5bc0de;
	color: #232323;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
	margin-top: 10px;
	width: 98%;
	margin: 2px 2px 2px 2px;
	padding: 10px 10px 10px 10px;
	white-space: normal;
}

.controls > input {
	width: 90%;
}
.controls > select {
	width: 90%;
}

.controls > textarea {
	width: 90%;
}