
.editform label {
		display: inline-block;
		width: 130px;
		text-align: right;
		font-weight: bold;
}

#edit-story-form label {
	width: 180px;
}

.editform input[type="text"] {
		width: 450px;
}

.editform select {
		width: 450px;
}

.editform label[for="add-description"] {
		text-align: left;
		padding-left: 5px;
}

.editform label[for="edit-description"] {
		text-align: left;
		padding-left: 5px;
}

.editform label[for="edit-newnotetext"] {
	dislay: inline;
}

#add-description {
		width: 590px;
		height: 100px;
}

#edit-description{
		height: 105px;
}

.notecontainer {
		margin: 5px 5px 5px 5px;
		padding: 8px 8px 8px 8px;
		background-color: #ffff66;
		font-size: 10pt;
		border-radius: 5px 5px 5px 5px;
		border: solid 1px #b3b3b3;
		display: inline-block;
		vertical-align: top;
		width: 300;
		height: 200;
		overflow: auto;
		-webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.47);
		-moz-box-shadow:    4px 4px 6px rgba(0, 0, 0, 0.47);
		box-shadow:         4px 4px 6px rgba(0, 0, 0, 0.47);
}

.notesubmitter {
		border-bottom: solid 2px #000000;
		vertical-align: top;
}

.notedatesubmitted {
		vertical-align: top;
}

.notetext {
	font-size: 8pt;
	vertical-align: top;
}


.newnotesavebutton {
		padding-bottom: 5px;
		padding-top: 5px;
}

.notesarea{
    width: 100%;
		overflow: auto;
		max-height: 250px;
		border: solid 1px #cccccc;
		padding: 5px 5px 5px 15px;
		margin-top: 10px;
}


#edit-newnotetext {
		width: 100%;
		text-align: left;
}
