html, body{
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	background: #d3d3d3;
	/*
	background: #666c70;
	background: -moz-linear-gradient(top, #666c70 1%, #555b60 98px, #d3d3d3 99px, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#666c70), color-stop(98px,#555b60), color-stop(99px,#d3d3d3), color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	background: -o-linear-gradient(top, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	background: -ms-linear-gradient(top, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	background: linear-gradient(to bottom, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666c70', endColorstr='#dbdbdb',GradientType=0 );
	*/
}

#add-story-form  {
}

#edit-story-form {
}

#edit-description, #edit-reproduce {
	width: 100%;
	height: 200px;
}

#edit-newnotetext {
	height: 100px;
}

.realcontentcontainer{
	z-index:50;
	/*position: absolute;*/
	top: 0px;
}
.loadingdiv{
	position: relative;
	padding-right: 60px;
	padding-top: 10px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}
.loadingdiv img{
}
.loadingdiv span{
	position:absolute;
	left: -50px;
	margin-bottom: 10px;
}
.filterlistcontainer {
	display: inline;
	height: 85px;
}
.otherbuttoncontiner {
	vertical-align: middle;
	display: inline;
	height: 85px;

}
.projectlist{
	display: inline;
	margin-top: 10px;
}
.projectarea{
	vertical-align: top;
	padding-top: 0px;
	padding-left: 10px;
	display:none;
	/*color: #FFFFFF;*/
	font-size: 14px;
	text-wrap: none;
	min-width: 600px;
}

#selected-project-name {
	color: #FFFFFF !important;

	margin-top: 5px !important;
	margin-bottom: 3px;

	font-size: 1.75em;
	font-weight: bold;
}

.mantislogo{
	

	
}

.mantislogo.loggedin {
	width: 210px;
	margin-left: 30px;
	display:inline;
	vertical-align: top;
	padding-top:2px;
}

.loginarea{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	color: #FFFFFF;
	font-size: 20px;
}
.loginarea input{
	height: 30px;
	font-size: 15px;
	color: #000000;
	width: 120px;
	border-radius: 5px 5px 5px 5px;
}
.headerarea{
	/*background: #666c70;*/
	height: 85px;
	width:100%;
	/*background: #666c70;*/
	background: -moz-linear-gradient(top, #666c70 1px, #555b60 60px, #d3d3d3 62px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1px,#666c70), color-stop(60px,#555b60), color-stop(62px,#d3d3d3));
	background: -webkit-linear-gradient(top, #666c70 1%,#555b60 60px, #d3d3d3 62px);
	background: -o-linear-gradient(top, #666c70 1px,#555b60 60px, #d3d3d3 62px);
	background: -ms-linear-gradient(top, #666c70 1px,#555b60 60px, #d3d3d3 62px);
	background: linear-gradient(to bottom, #666c70 1px,#555b60 60px, #d3d3d3 62px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666c70', endColorstr='#dbdbdb',GradientType=0 );

}
.contentarea{
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 20px 20px 20px 20px;
	display:none;
}

.newnotesavebutton, .kanbannewstory{
	cursor: pointer;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: -moz-linear-gradient(
	top,
	#ff2819 0%,
	#ab0000);
	background: -webkit-gradient(
	linear, left top, left bottom,
	from(#ff2819),
	to(#ab0000));
	border: 1px solid #7d0000;
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.4),
	0px 1px 0px rgba(255,255,255,0.3);
}

.kanbannewstory:hover{
	background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

#kanbancontent{
	text-align: left;
	overflow: auto;
	display: table;
	table-layout: fixed;
	width: 95%;
	height: 95%;
	min-width: 800px;
	min-height: 450px;
	margin-left: 2%;
	background-color: #f4f4f4;
	border-radius: 5px 5px 5px 5px !important;
	-moz-box-shadow: 8px 6px 10px 1px #444;
	-webkit-box-shadow: 8px 6px 10px 1px #444;
	box-shadow: 8px 6px 10px 1px #444;
	border: solid 10px transparent;
	white-space: nowrap;
}

.kanbanlist{
	border-radius: 10px 10px 2px 2px;
	vertical-align: top;
	display: table-cell;
	min-width: 100px;
	max-width: 200px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.kanbanlisthidebtn {
	padding-left: 20px;
}

.kanbanlistdroparea{
	background: #d2ff52;
	/* Old browsers */
	background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d2ff52 0%,#91e842 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #d2ff52 0%,#91e842 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
	/* IE6-9 */
	border-radius: 0 0 5 5;
	color: transparent;
	padding: 5 5 5 5;
	height: 30px;
	-moz-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
	0px 1px 3px rgba(000,000,000,0.5),
	inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.4),
	0px 1px 0px rgba(255,255,255,0.3);
	border-bottom: solid 1px #000000;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	padding-left:5px;
	padding-top: 5px;
}

.kanbanlisttitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	color: #ffffff;
	padding: 6px 12px;
	background: -moz-linear-gradient(top, #6b6b6b 0%,	#000000);
	background: -webkit-gradient(	linear, left top, left bottom,	from(#6b6b6b),	to(#000000));
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.kanbanlistspacer {
	display: table-cell;;
	width: 10px;
}

.kanbanstorycontainer { 
	overflow:hidden; 
	border: solid 1px #000000;
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ) !important; /* IE6-9 */
}

.kanbandropper{
	display:none;
	border: solid 1px black;
	color: #222222;
	height: 20px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
	background: #7d7e7d;
	/* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
	/* IE6-9 */
}
.kanbanstory.over>.kanbandropper{
	display: block;
}


.kanbanstory{
	background: rgb(238,238,238);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	/* IE6-9 */
	display: table;
    table-layout: fixed;
    width: 100%;
	/* border-radius: 2px 2px 2px 2px; */
	padding: 5 0 5 0;
	cursor: move;
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
 	/*max-width: 100%;*/
    /*background-color: blue;*/
    /*white-space: nowrap;*/
    
}


.kanbanstory.mystory{
	background: #fceabb;
	/* Old browsers */
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
	/* IE6-9 */
}

.kanbanstory.glow { 
	color: #FFFFFF;
	background: #a90329;
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );

}


.kanbanstoryprioritycontainer {
	display: table-cell;
	vertical-align: middle;
	width: 30px;
	color:#FFFFFF;
	text-align:center;
}

.kanbanstorypriority{
	width: 30px;
	height: 20px;
	margin: 0px 4px 0px 4px;
	background-color: #334477;
	border-radius: 5px 5px 5px 5px;
	border: solid 1px #000000;

	vertical-align: middle;
}

.kanbanstorypriority[priority="none"]{
	background-color: black;
	color:#ffffff;
}



.kanbanstorypriority[priority="low"]{
	background-color: green;
	color:#FFFFFF;
}

.kanbanstorypriority[priority="high"]{
	background-color: yellow;
	color:#000000;
}

.kanbanstorypriority[priority="immediate"]{
	background-color: red;
	color:#000000;
}


.kanbanstorypriority[priority="urgent"]{
	background-color: #FFFFFF;
	color:#000000;
}
.kanbanstorytitle{
	height: 40px;
	display: table-cell;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer !important;
	padding-left:6px;
	vertical-align: middle;
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
.storyinfobutton{
	display: table-cell;
	width: 27px;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
}

.storyinfobutton img {
	width: 20px;
	height: 20px;	
	vertical-align: middle;
	float: right;
	padding-right: 5px;
}
.user-context-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;
	cursor: pointer;
	vertical-align: middle;
	border: solid 15px transparent;
	background-color: #555555;
	border-radius: 5 5 5 5;

	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.75);
}
#user-context-menu-container {
	max-height: 250px;
	overflow: auto;
	z-index: 500;
}
.project-selector {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;
	cursor: pointer;
	vertical-align: middle;
	border: solid 15px transparent;
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.75);
}
#user-context-title {
	font-weight: bolder;
	border-bottom: solid 2px #000000;
	color: #FFFFFF;	
}
.kanbandropper.over{
	display: block;
}
[draggable]{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}