#kanbancontent{
    text-align: left;
    position: relative;
    height: 90%;
    width: 95%;
    overflow: auto;
    background-color: #f4f4f4;
    border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 8px 6px 10px 1px #444;
    -webkit-box-shadow: 8px 6px 10px 1px #444;
    box-shadow: 8px 6px 10px 1px #444;
    white-space: nowrap;
    padding: 10px 10px 10px 10px;
}

.kanbandropper{
    display:none;
    border: solid 1px black;
    color: #222222;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 3px;
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

.kanbanstory.over>.kanbandropper{
    display: block;
}

.kanbanlist{
    position: relative;
    border-radius: 10px 10px 2px 2px;
    border: solid 1px black;
    min-width: 180px;
    max-width: 280px;
    
    background-color: #ffffff;
    vertical-align: top;
    margin-right: 5px;
    min-height: 100px;
    display: inline-block;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgb(191,210,85);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
    /* IE6-9 */
}
.kanbannewstory{
    cursor: pointer;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #ff2819 0%,
        #ab0000);
        background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ff2819),
        to(#ab0000));
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
        border-radius: 0px;
        border: 1px solid #7d0000;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
}

.kanbanlisttitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
    top,
    #6b6b6b 0%,
    #000000);
    background: -webkit-gradient(
    linear, left top, left bottom,
    from(#6b6b6b),
    to(#000000));
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,0.7);
    text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);
}
.kanbanstory.rotation{
    /*
    -webkit-transform: translate(100px) rotate(20deg);
    -webkit-transform-origin: 60% 100%;
    -o-transform:translate(100px) rotate(20deg);
    -o-transform-origin:60% 100%;
    */
    /*
    transform: rotate(20deg);
    transform-origin: 60% 100%;
    */
}
.kanbanstory{
    background: rgb(238,238,238);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    /* IE6-9 */
    border: solid 1px #000000;
    border-radius: 2px 2px 2px 2px
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    cursor: move;
}
.kanbandropper.over{
    display: block;
}

.kanbanstory[listid="10"] {
    background-color: yellow;
}
.kanbanstory[listid="20"] {
    background-color: orange;   
}
.kanbanstory[listid="30"] {
    background-color: green;
}
.kanbanstory[listid="40"] {
    background-color: purple;
}
.kanbanstory[listid="50"] {
    background-color: black;
}
.kanbanstory[listid="60"] {
    background-color: white;
}
.kanbanstory[listid="70"] {
    background-color: lightblue;
}
.kanbanstory[listid="80"] {
    background-color: navyblue;
}

.kanbanstoryseverity{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #004080;
    margin-right: 10px;
    border-radius: 5px 5px 5px 5px;
}

.kanbanstoryseverity[priority="immediate"]{
    background-color: red;
}
.kanbanstoryseverity[severity="urgent"]{
    background-color: red);
}


.kanbanstorytitle{
    width: 105px;
    cursor: pointer;
    text-overflow:ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
.storyinfobutton{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    cursor: pointer;
}
[draggable]{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}