html, body{
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	background: #d3d3d3;
	overflow:hidden;
	/*
	background: #666c70;
	background: -moz-linear-gradient(top, #666c70 1%, #555b60 98px, #d3d3d3 99px, #dbdbdb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#666c70), color-stop(98px,#555b60), color-stop(99px,#d3d3d3), color-stop(100%,#dbdbdb));
	background: -webkit-linear-gradient(top, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	background: -o-linear-gradient(top, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	background: -ms-linear-gradient(top, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	background: linear-gradient(to bottom, #666c70 1%,#555b60 98px,#d3d3d3 99px,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666c70', endColorstr='#dbdbdb',GradientType=0 );
	*/
}


.editform {
	overflow: auto;
	height:100%;
	width: 575px;
	/*background-color: #dfdfdf;*/
	padding: 15px 15px 15px 15px;
	border-left: solid 2px #000000;
	position: absolute;
}	

#add-story-form  {
}


#edit-story-form {
}

.tab-content {
	padding-top: 10px;
}

#edit-story-title {
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#add-description {
	width: 100%;
	height: 200px;
}
.attachmentname {
	padding-left: 20px;
}

.newfileattach {
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #454545;
	border-radius: 3px;
	background-color: #eeeeee;
}

.attachmentdeletebutton {
	padding-right: 20px;
}

#edit-story-notes-container {
	height: calc(100% - 150px) !important;
	background-color: #dedede;
	padding: 2px !important;
}


#edit-story-new-attach-save-button{
	margin-bottom: 5px !important;
}


#edit-story-new-note-save-button{
	width:100% !important;
	margin-bottom: 5px !important;
}

hr.noteHorizonalRule {
	margin: 1px;
	color: #000;
}

div.fill:nth-child(1) {
	height: 100% !important;
}

div.notecontainer {
	padding:5px !important;
	margin: 2px !important;
}

#edit-story-new-note-save-button {
	display:inline-block;
}

#edit-description, #edit-reproduce {
	width: 100%;
	height: 200px;
}

#edit-newnotetext {
	display: inline-block;
}

.realcontentcontainer{
	z-index:50;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}
.loadingdiv{
	position: relative;
	padding-right: 60px;
	padding-top: 10px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
}
.loadingdiv img{
}
.loadingdiv span{
	position:absolute;
	left: -50px;
	margin-bottom: 10px;
}
.filterlistcontainer {
	display: inline;
	height: 85px;
}
.otherbuttoncontiner {
	vertical-align: middle;
	display: inline;
	height: 85px;

}
.projectlist{
	display: inline;
	margin-top: 10px;
}
.projectarea{
	vertical-align: top;
	padding-top: 0px;
	padding-left: 10px;
	display:none;
	/*color: #FFFFFF;*/
	font-size: 14px;
	text-wrap: none;
	min-width: 600px;
}

#selected-project-name {
	color: #FFFFFF !important;

	margin-top: 5px !important;
	margin-bottom: 3px;

	font-size: 1.75em;
	font-weight: bold;
}

.mantislogo{
	

	
}

.editing-content {
	height: calc(100% - 135px) !important;
}

.tab-content {
	height: calc(100% - 45px) !important;
}

#tabs-3 {
	height: calc(100% - 20px) !important;
}

#tabs-4 {
	height: calc(100% - 50px) !important;
}


.editing-header {
	background-color: #454545;
	color:#FFFFFF;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 6px 10px 6px;
	text-align: center;
}

.editing-buttons {
	padding: 15px 0px 15px 0px;
	width: 100%;
	display: table;
}

.editing-footer {
	background-color:#CDCDCD;

}

.mantislogo.loggedin {
	width: 210px;
	margin-left: 30px;
	display:inline;
	vertical-align: top;
	padding-top:2px;
}

.loginarea{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	color: #FFFFFF;
	font-size: 20px;
}
.loginarea input{
	height: 30px;
	font-size: 15px;
	width: 120px;
	border-radius: 5px 5px 5px 5px;
}


.newnotesavebutton, .kanbannewstory{
	cursor: pointer;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: -moz-linear-gradient(
	top,
	#ff2819 0%,
	#ab0000);
	background: -webkit-gradient(
	linear, left top, left bottom,
	from(#ff2819),
	to(#ab0000));
	border: 1px solid #7d0000;
	text-shadow:
	0px -1px 0px rgba(000,000,000,0.4),
	0px 1px 0px rgba(255,255,255,0.3);
}

.kanbannewstory:hover{
	background: #f85032; /* Old browsers */
	background: -moz-linear-gradient(top,  #f85032 0%, #f16f5ceditform 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}


#priorities-displayer {
	display: none;
	position:absolute;
	bottom: 0px;
	left: 20px;
	z-index: 9999;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 4px 8px 4px 8px;
	background: #003366;
	background-color: #003355;
	color: #FFFFFF;
	cursor: pointer;
}

#prioritylegend{
	display: table;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	vertical-align:middle;
}

#prioritylegend > div {
	display: table-cell;
	padding: 5px 10px 5px 10px;

}


.contentarea{
	text-align: left;
	position: relative;
	top: 0px;
	display:none;
	width: 100%; 
	height: calc(100% - 85px); 
	border-bottom: 2px solid #000000;
	background-color: #f6f6f6;
	white-space: nowrap;
	transition: height .5s;	
}

.contentarea[showingpriority="true"] {
	height: calc(100% - 125px); 
}

.headerarea{
	/*background: #666c70;*/
	height: 85px;
	width:100%;
	background: #565656;
}

#kanbancontent{
	top:0px;
	height: 100%;
	width: 100%;
	padding-top: 5px;
	overflow: auto;
	display: inline-block;
	background-color: #cacacf;
	padding: 10px 10px 10px 10px;
	white-space: nowrap;
	transition: width .5s;
}

#kanbancontent[editing="true"] {
	width: calc(100% - 575px);
}
 	
.kanbanlist{
	border: 1px solid #808080;
	position: relative;
	vertical-align: top;
	display: inline-block;
	background-color: #efefef;
	width: 250px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: width .5s;
	border-radius: 4px 4px 4px 4px;
	padding-bottom: 10px;
}

.kanbanliststorycontainer {
	position: relative;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display:block;
	background-color: #efefef;
}

.kanbanlisthidebtn {
	padding-left: 20px;
}

.kanbanlistdroparea{
	background: #d2ff52;
	color: transparent;
	height: 30px;
	font-weight: bold;
	padding-top: 5px;
	display:none;
}

.kanbanlisttitle{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 14px;
	text-align: left;
	font-weight: bold;
	height: 30px;
	color: #000000;
	padding-left: 10px;
	padding-top: 5px;
	background: #efefef; /* Old browsers */
	border-radius: 4px 4px 0px 0px;
}

.kanbanlistspacer {
	display: inline-block;
	width: 10px;
}

.kanbanstorycontainer { 
	opacity: 0;
	/*display:none;*/
	overflow:hidden;
	border: solid 1px #ababab;
	border-radius: 6px 6px 6px 6px;
	margin:5px 8px 0px 8px;
}

.kanbanstorycontainer:last-child {
	margin-bottom: 4px;
}

.kanbanstoryheaderarea {
	position: relative;
}

.nofadein {
  opacity: 1;
 }

.fadein {
	-webkit-animation: fade 1.2s;
    animation: fade 1.2s;
    opacity: 1;
 }

/* -fail- */
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.kanbandropper{
	height: 0px;
	text-align: center;
	background-color: rgb(217, 83, 79);
	transition: height .3s ease;
}
.kanbandropper.over{
	height: 40px;
}

.kanbanstory{
	/*background: rgb(238,238,238);*/
	background-color: #FFFFFF;
	display: table;
    table-layout: fixed;
    width: 100%;
	/* border-radius: 2px 2px 2px 2px; */
	position:relative;
	cursor: move;

}


#attachmentdisplay {
	display:none;
	position:absolute;
	z-index:9999;
	background: rgba(0,0,0,0.85);
	height: 100%;
	width: 100%;
}

.newattachmentcontainer {
	margin-top: 5px;

}

.attachmentcontainer {
	display: table;
	width: 100%;
	padding-top: 10px;
	text-align: left;
	border-bottom: solid 1px #ffffff;
}

.attachmentsarea {
	text-align: center;
	width: 100%;
	/*max-height: calc(100% - 400px);*/
	overflow: auto;
	border: solid 1px #cccccc;
	padding: 15px 15px 15px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;	
	height: calc(100% - 150px) !important;
	background-color: #dedede;

}

.kanbanimageattachment {
	display: block;
	max-width: 400px;
	max-height: 400px;
	border: 2px solid orange;
	cursor: hand;
}

.kanbanstory:hover > .kanbanstorytitle {
}

.kanbanstory.mystory{
	background: rbg(206,206,206);
	background-color: #CECECE;
}

.kanbanstory.mystory > .kanbanstorytitle {
	font-style: italic;
}

.kanbanstory.glow { 
	background: #ffff88; /* Old browsers */
}

.label {
	position: absolute;
	top: -0px;
	right: -0px;
	z-index: 9999;
}

.kanbanstoryissuenumber{
	display: block;
	font-size: 12px;
	font-weight: bolder;
	height: 40px;
	padding-top: 2px;
	padding-left: 4px;
    position      : absolute;
    top           : 0px;
    width: 60px;
    text-align: left;
    color:#ffffff;
	background: linear-gradient(135deg, #454545 0%, #454545 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%); /* W3C */
}


.kabanhandlercontainer {
	

}

.handlercontainer {
	vertical-align: middle;
	color:#FFFFFF;
	font-weight: bold;
	font-size: 12pt;
	text-align:center;
    position      : absolute;
    display: block;
    top           : 0px;
    width: 60px;
    height: 40px;
	vertical-align: middle;
	color:#FFFFFF;
	padding-left: 30px;
	padding-top: 16px;
	border-right: 1px solid #ababab;
	
}

.kanbanstoryprioritycontainer {
	position:absolute;
	bottom:0px;
	left: 10px;
	height: 3px;
	width: 90%;

}
.kanbanstorytitle>span,.kanbanstorytitle>br,.kanbanstorytitle>.glyphicon {
	font-size:8pt;

}

#prioritylegend { }

#prioritylegend>div[priority] {
	border-top: 1px solid #444444;
	border-left: 1px solid #444444;
	border-bottom: 1px solid #444444;
	width: 16%;
}

#searchfield {
	display:inline;
}

#prioritylegend>div[priority="none"] {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
}

div[priority="none"] {
	background-color: #104E8B;
	color:#FFFFFF;
}
div[priority="low"] {
	background-color: #74BBFB;
	color:#343434;
}
div[priority="normal"] {
	background-color: #cdcdcd;
	color:#000000;
}
div[priority="high"] {
	background-color: #CCEB05;
	color:#343434;
}
div[priority="urgent"] {
	background-color: #FF6600;
	color:#FFFFFF;
}
div[priority="immediate"] {
	background-color: #fe0000;
	color:#FFFFFF;
}

#prioritylegend>div[priority="immediate"] {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#prioritylegend>div{
	text-align: center;
	font-size: 14px;
}


.kanbanstorytitle{
	height: 40px;
	display: inline-block;
	position: relative;
	left: 60px;
	width: calc(100% - 65px);
	
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer !important;
	padding-left: 7px;
	font-size: 13px;
	vertical-align: middle;
	text-align: left;
	text-overflow:ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
.storyinfobutton{
	display: table-cell;
	width: 27px;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
}

.storyinfobutton img {
	width: 20px;
	height: 20px;	
	vertical-align: middle;
	float: right;
	padding-right: 5px;
}
.user-context-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;
	cursor: pointer;
	vertical-align: middle;
	border: solid 15px transparent;
	background-color: #555555;
	border-radius: 5 5 5 5;

	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.75);
}

.project-selector {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;
	cursor: pointer;
	vertical-align: middle;
	border: solid 15px transparent;
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 16px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 16px rgba(50, 50, 50, 0.75);
}
#user-context-title {
	font-weight: bolder;
	border-bottom: solid 2px #000000;
	color: #FFFFFF;	
}

[draggable]{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.ui-combobox {
    position: relative;
    display: inline-block;repeat
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}