

html, body {
	background-color: #27709B;
}

.contentarea {
	background-color: rgba(23, 76, 107, 1) !important;
}

.headerarea {
	background-color: rgba(5, 91, 138, 1);
}

#kanbancontent {
	background-color: #23719F !important;
	opacity: 1;
    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.editing-header {
	background-color: rgba(231, 231, 231, 1);
	color: rgba(77, 77, 77, 1);
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

#edit-settings-form {
	opacity: 0;
	position: absolute;
	top: 10px;
	display: inline-block;
	z-index: 9999;
	left: calc(50% - 235px);
	height: 0px;
	border-radius: 8px;
}

#edit-settings-form[editing="true"] {
	height: calc(100% - 50px);
	opacity: 1;
	transition: opacity .1s ease-in;
}



#add-story-form {
	opacity: 0;
	position: absolute;
	top: 10px;
	display: inline-block;
	z-index: 9999;
	left: calc(50% - 235px);
	height: 0px;
	border-radius: 8px;
}


#add-story-form[editing="true"] {
	height: calc(100% - 50px);
	opacity: 1;
	transition: opacity .1s ease-in;
}

#edit-story-form {
	opacity: 0;
	position: absolute;
	top: 10px;
	display: inline-block;
	z-index: 9999;
	left: calc(50% - 235px);
	height: 0px;
	border-radius: 8px;
}

#edit-story-form[editing="true"] {
	height: calc(100% - 50px);
	opacity: 1;
	transition: opacity .1s ease-in;
}

#kanbancontent[editing="true"] {
	width: 100% !important;
	opacity: .6;
    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.kanbanliststorycontainer {
	
}

.dot  {
	background: #555;
}