

html, body {
	background-color: #27709B;
}

.contentarea {
	background-color: rgba(23, 76, 107, 1) !important;
}

.headerarea {
	background-color: rgba(23, 76, 107, 1) !important;
}

#kanbancontent {
	background-color: #23719F !important;

}