/* Charcoal Theme */

html, body {
	background-color: #272822;
}

#selected-project-name {
	color: #FFF;
}

#project-users-gravatars-container {
	border: 1px solid #666;
}

.editform {
	background-color: #272822;
	color: #FFF;
}

.headerarea {
	background: #272822;
}

#contentarea {
	background-color: #272822;
}

#edit-story-form {
	background-color: #272822;
	color: #ffffff;
}

#edit-story-tasks-container {
	background-color: #272822;
	color: #ffffff;
}
#edit-story-historys-container {
	background-color: #272822;
	color: #ffffff;
}
#tabs li a {
	color: #ffffff !important;
	outline: none; 
}

#tabs li.active a {
	color: #000000 !important;
	outline: none; 
}

#tabs li a:hover {
	color: #000000 !important;
	outline: none; 
}

#edit-story-form > div:nth-child(3) {
	background-color: #272822;	
}

#tabs {
	background-color: #272822;
}

#edit-story-notes-container {
	background-color: #272822;
}

.dot {
	background-color: #EEE;
}

.kanbanlist .dot {
	background: #272822;
}